<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>
    <h1>the shop.</h1>
    <div class="container">
      <div class="shop">
        <h3><%=shop.name %> </h3>
        <img src="<%=shop.img %>" alt="<%=shop.name %>" style="max-width: 400px;">
        <ul>
          <li><%=shop.address %></li>
          <li><%=shop.phone %></li>
          <li><%=shop.hours %></li>
          <li>
            <a href="<%=shop.website %>">link to shop website.</a>
          </li>
        </ul>
      </div>
      <a href="/<%=shop.id %>/edit"><input type="submit" value="edit this shop." /></a>
      <form class="/shops/<%=shop.id %>?_method=DELETE" method="POST">
        <input type="submit" value="delete this shop." />
      </form>
    </div>
  </body>
</html>
